<!doctype html>
{% extends "base.html" %}

{% block title %} Wishlist - Home {% endblock %}

{% block content%} 
  <h2>Welcome!</h2>
  <p>This is a simple wishlist script using flask and heroku, <a href="https://github.com/cyberfunker/wishlist-test">click here</a> to see the repository.</p> 
  <p></p>
  <h5>How to use it:</h5>
  <p>Only the ones with admin privilege can login and actually use the wishlist at the moment. More features will be added in the future (or not? I wish. I'm working on it kinda.).</p>
  <p>The script to this project can be found on my github.</p>
{% endblock %}